# ==========================================
# Configurações do Banco de Dados (Storage)
# ==========================================
DB_USERNAME=user_db
DB_PASSWORD=password

# ==========================================
# Configurações do Backend (Monolito)
# ==========================================
EMAIL=dummy@email.com
PASSWORD_EMAIL=dummy

# Chaves da Nuvem AWS (S3 Integration)
BUCKET_NAME=dummy-bucket
AWS_ACCESS_KEY_ID=dummy
AWS_SECRET_ACCESS_KEY=dummy
AWS_SESSION_TOKEN=dummy

# ==========================================
# Configurações de Automação (Bot e n8n)
# ==========================================
BOT_SECRET=solarize_whatsapp_bot_super_secret
