# Configurações do Banco de Dados
DB_USERNAME=user_db
DB_PASSWORD=password

# Configurações do Backend
EMAIL=dummy@email.com
PASSWORD_EMAIL=dummy

# Configurações deo n8n
BOT_SECRET=solarize_whatsapp_bot_super_secret

# Configuração de Portas Expostas
PORT_MANAGEMENT_SYSTEM=8080
PORT_INSTITUTIONAL_WEBSITE=8081
PORT_MYSQL=3307
PORT_REDIS=6379
PORT_BOT_REDIS=6380
PORT_WAHA=3000
PORT_N8N=5678
PORT_BACKEND_MONOLITH=8000
PORT_BACKEND_MICROSERVICE=8082
PORT_MICROSERVICE_DB=3306

# GitHub credencials
GITHUB_USERNAME=dummy
GITHUB_ACCESS_TOKEN=dummy