# Log files
*.log

# Environment variables
.env
.env.*

# MacOS
.DS_Store

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# Terraform
**/.terraform/*
**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

# docker-compose overrides
docker-compose.override.yml
