*.log

.env

.idea/
.vscode/
*.swp
*.swo

**/.terraform/*
**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.terraform.lock.hcl

docker-compose.override.yml
*.tfplan
*.pem